.header_registration_export {
    padding: 2px 0 3px 20px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 15px;
    background-image: url("../images/registration_export.gif");
}